<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row social-section">
                <div class="social-icon">
                    <a href="https://www.instagram.com/buildthepositivity/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <div class="social-icon">
                    <a href="https://www.facebook.com/buildingthepositivity">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <div class="social-icon">
                    <a href="https://www.tiktok.com/@buildingthepositivity">
                        <img src="img/logos/tiktok.svg" class="svg" alt="tiktok logo">
                    </a>
                </div>
            </div>
        </div>
    </aside>