<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row social-section">
                <div class="social-icon">
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <div class="social-icon">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <div class="social-icon">
                    <a href="#">
                        <img src="img/logos/tiktok.svg" class="svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>