    <!-- Header -->
    <header>
        <div class="container">
            <video controls autoplay muted loop playsinline>
                <source src="video/banner-video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="intro-text">
                <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
                <div class="intro-heading">
                    <h1 class="mb-3">Content That Connects</h1>
                    <p class="mb-3 large">
                        Mental health strategies, relationship insights, and recovery. Lessons shared openly here so you don't have to learn them the same way I did, the hard way. 
                    </p>
                </div>
                <a href="#newsletter" class="page-scroll btn btn-xl">Stay Up To Date</a>
            </div>
        </div>
    </header>
    <h1>{{site.baseurl}}</h1>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

