    <!-- Intro -->
    <div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
        <div class="pl-4 pr-0 h-100 tofront">
            <div class="row justify-content-between">
                <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
                    <h1 class="mb-3">Building The Positivity</h1>
                    <p class="mb-3 lead">
                        Strength begins with vulnerability. By my mid-thirties I was an addict, divorced, and unemployed. But I found hope in recognizing that addiction is hard word and if I applied the same ethic to educating and improving myself it gave me a chance to turn my life around. 
                    </p>
                    <!-- <a href="/biography" class="btn btn-dark">Learn More</a> -->
                </div>
                <div class="col-md-6 d-none d-md-block pr-0">
                    <img src="/img/jef-stuntin-min.JPG" style="width: 100%;">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>

