<!-- My Story Section -->
    <section id="my-story">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Story</h2>
                    <h3 class="section-subheading text-muted">Connecting the dots.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/face.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1996-2016</h4>
                                    <h4 class="subheading">A Life of Addiction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After decades of struggle and years of failed attempts to manage it, I became sober. But getting sober didn’t ‘fix’ me. It opened my eyes.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/drink.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 11, 2016</h4>
                                    <h4 class="subheading">My Last Drink</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I became curious about why and how I became who I was. Eventually, I found therapy, the most consequential decision of my life.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/therapy.jpg" alt="Photo credit: https://unsplash.com/@martzzl">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2018</h4>
                                    <h4 class="subheading">Therapy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked therapy like a job. I studied my life, my thoughts, my habits. I squared up to my pain. I found healing in sharing openly about my struggles. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hands.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2021</h4>
                                    <h4 class="subheading">Relationships</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My focus progressed to relationships. I studied experts like the Gottmans and Brene Brown. I learned the value of authentic connections built around vulnerability and transparency. Point blank, I strove to be the kind of person I would want to build a relationship with.
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/profile.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Today</h4>
                                    <h4 class="subheading">Connectionist</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I write from my experience, my heart, my pain. I'm not a therapist. I create content to battle the shame I once felt. It heals, it connects.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a class="page-scroll" href="/#newsletter">
                                    <h4>Continue
                                        <br>The
                                        <br>Story!</h4>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>