<!-- My Story Section -->
    <section id="my-story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Story</h2>
                    <h3 class="section-subheading text-muted">Connecting the dots.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <!-- <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Before 2007</h4>
                                    <h4 class="subheading">My Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Growing up around grief and mourning in the funeral business, I was steeped in empathy and naturally curious about how to comfort others. Unfortunately, I also learned how to self-soothe in unhealthy ways; by numbing myself.</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}/img/about/face.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1996-2016</h4>
                                    <h4 class="subheading">A Life of Addiction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Addiction was a constant. After decades of struggle and years of failed attempts to manage it, I became sober. But getting sober didn’t ‘fix’ me. It opened my eyes.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/drink.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 11, 2016</h4>
                                    <h4 class="subheading">My Last Drink</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I wanted to know how and why I became who I was. I read everything I could find on breaking patterns, making lasting change, and treating psychological wounds. Eventually, I found therapy, the most consequential decision of my life.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/therapy.jpg" alt="Photo credit: https://unsplash.com/@martzzl">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2018</h4>
                                    <h4 class="subheading">Therapy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked therapy like a job. I studied my life, my thoughts, my habits. I squared up to my pain. I found healing in sharing openly about my struggle with addiction and mental health. Soon, my focus progressed to relationships. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hands.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2021</h4>
                                    <h4 class="subheading">Relationships</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I went to relationship school. I read the works of experts like the Gottman's and Brene Brown. I learned the art of crafting dating profiles that lead to more meaningful connections. And point blank, I strove to be the kind of person I would want to build a relationship with.
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/profile.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Today</h4>
                                    <h4 class="subheading">Connectionist (just made it up)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I write from experience, from my heart, from my pain. I'm not a therapist or a coach. I write because it heals. I write because it connects. I write what I needed to read when I needed it most.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a class="page-scroll" href="#newsletter">
                                    <h4>Continue
                                        <br>The
                                        <br>Story!</h4>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>