<!-- My Story Section -->
    <section id="my-story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Story</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Before 2007</h4>
                                    <h4 class="subheading">My Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Growing up around grief and mourning in the funeral business, I was steeped in empathy and naturally curious about how to comfort others. Unfortunately, I also learned how to self-soothe in unhealthy ways; by numbing myself.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1996-2016</h4>
                                    <h4 class="subheading">A Life of Addiction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Addiction was a constant in my life since childhood. It was all around me. After decades of my own struggle and years of failed attempts to manage it, I finally found sobriety. But getting sober didn’t ‘fix’ me. It opened my eyes.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 11, 2016</h4>
                                    <h4 class="subheading">My Last Drink</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began unraveling the knot of my addiction. I wanted to know how and why I became who I became and resorted to the things I did. I started consuming all the mental health material I could get my hands on, looking for help, looking for strategies, looking for answers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2018</h4>
                                    <h4 class="subheading">Therapy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The most consequential decision of my life was admitting that I needed help and then actually going out and finding it. But I haven't just attended therapy sessions, I worked therapy like it was giving me the cheat code to living the life I wanted.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2021</h4>
                                    <h4 class="subheading">Relationships</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A broken heart can be transformative. I channelled the energy I felt from a particularly disastrous relationship to face my fears of rejection and shame by going public with my thoughts and feelings.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Today</h4>
                                    <h4 class="subheading">My Content</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I endeavor to share all that I've learned in an effort to help others. It's a full circle back to my initial childhood curiosity to provide comfort in the ways I wish I had known it.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>