<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include nav.html %}  
    {% if page.url == "/" %}
      {% include header.html %}
      {% include embed-social.html %}
      {% include social-media-platforms.html %}
      {% comment %} {% include my-story.html %} {% endcomment %} 
      {% include what-i-do-grid.html %}
      {% include newsletter-signup.html %}
      {% include footer.html %}
    {% endif %}
    {% if page.url == "/my-story.html" %} 
      {% include my-story.html %} 
    {% endif %}
    {% if page.url == "/contact.html" %} 
      {% include contact.html %} 
    {% endif %}
    {% include js.html %}

    <script>
      window.CustomSubstackWidget = {
          substackUrl: "jefdewitt.substack.com",
          placeholder: "example@gmail.com",
          buttonText: "Subscribe",
          theme: "custom",
          colors: {
            primary: "#FED136",
            input: "#fff",
            email: "#000",
            text: "#fff",
          }
      };
    </script>
    <script src="https://substackapi.com/widget.js" async></script>

    </body>
</html>